drf-yasg==1.21.7
django-jazzmin==2.6.0
Django==5.0.7
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
firebase-admin==6.5.0
python-dotenv==1.0.1
requests==2.32.3
playwright==1.45.1
requests==2.32.3
beautifulsoup4==4.12.3
psycopg2==2.9.9
psycopg2-binary==2.9.9
celery==5.4.0
django-filter==24.3
openai==0.10.0
django-cors-headers==4.0.0